{
	storage file_system /data
}

bandwidthmelbourne.com,
bandwidth.melbourne {
	handle_path /api/* {
		reverse_proxy service-public:80
	}

	reverse_proxy website-main:3000
}

admin.bandwidthmelbourne.com,
admin.bandwidth.melbourne {
	handle_path /api/* {
		reverse_proxy service-admin:80
	}

	reverse_proxy website-admin:3000
}

auth.bandwidthmelbourne.com,
auth.bandwidth.melbourne {
	reverse_proxy service-auth:8080
}

monitor.bandwidthmelbourne.com,
monitor.bandwidth.melbourne {
	reverse_proxy service-monitor:5000
}

filebrowser.bandwidthmelbourne.com {
	reverse_proxy filebrowser:80
}
127.0.0.1:8080 {
	respond "Health OK" 200
}
